section#video-block {
  img {
    width: 100%;
  }
  .minused_block {
    margin-bottom: -125px;
  }
  .title-desc {
    display: flex;
    img {
      align-self: start;
      width: 18px;
      margin-right: 10px;
    }
    span {
      &:after {
        display: none;
        content: "";
        width: 97px;
        height: 52px;
        background: url(../img/arrow_video.svg);
        margin-top: 10px;
        margin-left: -70px;
      }
    }
  }
}
@media (min-width: 992px) {
  section#video-block {
    .title-desc {
      max-width: 300px;
      span {
        &:after {
          display: block;
        }
      }
    }
  }
}