section#about {
  position: relative;
  .wt-section-title-other:after {
    left: 0;
    right: auto;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .col {
    display: flex;
    align-items: center;
    justify-content: center;
    span.about_dig {
      font-size: 70px;
      font-weight: 600;
      color: $yellow;
      padding-right: 10px;
    }
    span.about_desc {
      font-size: 18px;
      font-weight: bold;
    }
  }
}