section#video-block {
  img {
    width: 100%;
  }
  .minused_block {
    margin-bottom: -125px;
  }
  .title-desc {
    display: flex;
    img {
      align-self: start;
      width: 18px;
      margin-right: 10px;
    }
    span {
      &:after {
        display: none;
        content: "";
        width: 97px;
        height: 52px;
        background: url(../img/arrow_video.svg);
        margin-top: 10px;
        margin-left: -70px;
      }
    }
  }
}
section#thank-you {
  .block-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .item-dig {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: $purple;
      color: $white;
      text-align: center;
      line-height: 80px;
      font-size: 45px;
      @include roboto-bold;
      font-weight: 700;
      margin-right: 20px;
    }
    .item-text {
      width: 70%;
    }
  }
  a {
    color: $black;
    text-decoration: underline;
  }
}
@media (min-width: 992px) {
  section#video-block {
    .title-desc {
      max-width: 300px;
      span {
        &:after {
          display: block;
        }
      }
    }
  }
  section#thank-you {
    .thank-you-text {
      max-width: 500px;
      margin: 0 auto;
    }
  }
}