// Styling for the calltoaction2 section
#callToAction {
  position: relative;
  padding: 40px;
  background-color: $white;
  color: $black;
  form#contactForm {
    .form-row {
      display: block;
      .form-control {
        border-radius: 0;
        padding: 12px 24px;
        height: 43px;
        margin-bottom: 10px;
      }
      button {
        margin-top: 20px;
        i {
          margin-right: 10px;
        }
      }
      .result {
        position: absolute;
        left: 15px;
        #answer {
          font-size: 14px;
          color: white;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  #callToAction {
    padding: 50px 80px;
    max-width: 490px;
    margin: auto;
  }
}