section#services {
  background-color: #eeecf3;
  padding-top: 100px;
  .minused_block {
    margin-top: 50px;
    margin-bottom: -125px;
  }
  .service-items {
    position: relative;
    .service-item {
      display: flex;
      margin-bottom: 20px;
      align-items: start;
      img {
        margin-right: 10px;
      }
    }
    &>img {
      position: absolute;
      top: 20px;
      right: 0;
    }
  }
  .arrow_green {
    display: none;
  }
}
section#speaker {
  background-color: #36275b;
  color: $white;
  padding-top: 100px;
  .minused_block {
    margin-top: 15px;
    margin-bottom: -125px;
  }
  img {
    width: 100%;
  }
  .speaker-name {
    font-size: 22px;
    font-style: italic;
    margin-bottom: 30px;
    &:before {
      display: inline-block;
      content: "";
      width: 18px;
      height: 30px;
      background: url(../img/tag.svg);
      margin-right: 5px;
      vertical-align: text-top;
    }
  }
  .speaker-item {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
    img {
      width: 24px;
      margin-right: 10px;
    }
  }
}
@media (min-width: 992px) {
  section#services {
    .arrow_green {
      display: block;
    }
  }
  section#speaker {
    .speaker-name {
      font-size: 30px;
    }
  }
}